body {
  background-color: rgb(2, 2, 72);
  margin: auto;
  width: 100%;
}
header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-weight: 500;
  font-size: large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#logo {
  width: 15%;
  text-align: center;
}
#maps {
  width: 35%;
  height: 55%;
}
#youtube {
  width: 20.5%;
}
.center-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.center-header nav {
  margin-top: 10px;
}

.center-header nav a {
  margin: 0 10px;
  text-decoration: none;
  color: rgb(233, 233, 237);
}
footer {
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  bottom: 0;
  left: 42%;
  margin: 15px;
}
footer a i {
  color: rgb(233, 233, 237);
  font-size: 36px;
  margin: 0 10px;
  transition: color 0.3s;
}
