body {
  background-color: rgb(2, 2, 72);
  margin: auto;
  width: 100%;
}
header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-weight: 600;
  font-size: large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#logo {
  width: 15%;
  text-align: center;
  border-radius: 100px;
}
.center-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.center-header nav {
  margin-top: 10px;
}

.center-header nav a {
  margin: 0 10px;
  text-decoration: none;
  color: rgb(233, 233, 237);
}
footer {
  position: fixed;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  bottom: 0;
  width: 100%;
  justify-content: center;
  margin: 15px;
}
footer a i {
  color: rgb(233, 233, 237);
  font-size: 36px;
  margin: 0 10px;
  transition: color 0.3s;
}
form {
  color: rgb(233, 233, 237);
  display: inline-block;
}
.form {
  margin: auto;
  text-align: center;
}
.container {
  display: flex;
}
.row {
  width: 100%;
  border: 5px solid black;
  justify-content: center;
}
.col {
  height: 25vh;
  width: 32.5%;
  border: 5px solid black;
  box-sizing: border-box;
  overflow: auto;
}
.col #maps {
  max-width: 100%;
  height: auto;
}
.col #youtube {
  max-width: 100%;
  height: auto;
}
