body {
  margin: auto;
  width: 100%;
}
header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#logo {
  width: 15%;
  text-align: center;
}
#maps {
  width: 35%;
  height: 55%;
}
#youtube {
  width: 20.5%;
}
